<!DOCTYPE html>
<html lang="en">
  <head>
    <script data-ad-client="ca-pub-2992686020610920" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new post - Socialent</title>
    <link rel="icon" href="/images/SocialentLogo.svg" type="image/icon">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/create.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="background"></div>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
  </div>

    <div id="formCont">
      <h1>Create a new post</h1>
      <div id="form">
        <input
          accept=".gif, .jpg, .jpeg, .png, .svg, .mp4, .mov, .wmv"
          type="file"
          id="file"
          style="display: none"
        />
        <div id="dropbox">
          Click to choose a file or drag it here.
          <span>Photo (less than 10MB)/Video (less than 100MB)</span>
        </div>
        <div class="row">Description - Optional</div>
        <div class="row">
          <textarea id="description"></textarea>
        </div>

        <div class="row">
          <button class="d-back" id="submit">Submit</button>
        </div>
      </div>
    </div>

    <%- include('partials/sideNavBar') %> <%- include('partials/footer') %>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/create.js"></script>
  </body>
</html>
