<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="m5FBDKYhr6d4Vezlus5In-BKrnZ0Yq61zkdK0T3SihM" />
    <title>Forgot Password - Socialent</title>
    <meta name="description" content="Forgot password? Socialent, the social media app with a user-constructed experience! Made by, Dylan Caldwell">
    <link rel="icon" href="/images/SocialentLogo.svg" type="image/icon">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/forgotpassword.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/icon-192-192.png">
    <meta name="theme-color" content="#000000"/>

  </head>
  <body>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
    </div>
    <div id="formCont">
      <h1 class="d">Reset Password <a href="/login"><i class="fas fa-arrow-left"></i>Login</a> </h1>
      <div class="form-row" id="emailCont">
          <p>Email</p>
          <input id="email" type="email" />
      </div>
      <button id="sendCodeBtn">Send Code!</button>
      <div class="form-row" id="codeCont">
        <p>6 digit Code</p>
        <input id="code" type="number" />
      </div>
      <button id="submitCodeBtn">Submit</button>
      <div class="form-row" id="passwordCont">
        <p>New Password</p>
      </div>
      <input placeholder="New Password..." id="password" type="password" />
      <input placeholder="Confirm New Password..." id="confirmPassword" type="password" />
      <button id="submitPasswordBtn">Submit</button>
    </div>

    
    <%- include('./partials/footer.ejs') %>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/forgotpassword.js"></script>

    
  </body>
</html>
