<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="m5FBDKYhr6d4Vezlus5In-BKrnZ0Yq61zkdK0T3SihM" />
    <title>Socialent</title>
    <meta name="description" content="Socialent, the social media app with a user-constructed experience! Sign up · Log in. Made by, Dylan Caldwell">
    <link rel="icon" href="/images/SocialentLogo.svg" type="image/icon">
    <link rel="canonical" href="https://www.socialentapp.com">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />

    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/icon-192-192.png">
    <meta name="theme-color" content="#000000"/>

    <script src="/socket.io/socket.io.js" ></script>
  </head>
  <body>
    <div id="text">
      <div id="title">
        <img src="/images/SocialentTitle.svg" alt="">
      </div>
      <div id="description">
        <p>The social media app with a user-constructed experience</p>
      </div> 
    </div>
    
    <div id="buttons">
      <div id="circleBehind">
        <img src="/images/behindIndexBtns.svg" alt="">
      </div>
      <div id="signupDiv" class="buttonDiv c-back">
        <a id="signupLink" class="d button" href="/signup">Sign up</a>
      </div>
      <div id="loginDiv" class="buttonDiv d-back">
        <a id="loginLink" class="c button" href="/login">Log in</a>
      </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    <script src="/assets/js/main.js"></script>
    <script>
      // refirect to home if cookis includes auth-token
      if (document.cookie.includes('auth-token')) {
        window.location.href = '/';
      }

    </script>
    
  </body>
</html>
