<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Socialent</title>

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/login.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
  </div>

    <div id="alertCont">
      <h1>Error</h1>
      <p id="alertMsg">
        <i class="fas fa-exclamation-circle"></i> Please fill out all fields!
      </p>
    </div>
    <div id="formCont">
      <h1 class="d">Login</h1>
      <div class="form-row" id="usernameCont">
        <p>Username</p>
        <input id="username" type="text" />
      </div>
      <div class="form-row" id="passwordCont">
        <p>Password</p>
        <input id="password" type="password" />
        <i id="passwordEye" class="fas fa-eye"></i>
        <a id="forgotPassword" href="/forgotpassword">Forgot Password?</a>
      </div>
      <button id="submit" class="d-back a" type="submit">Submit</button>
      <a href="/signup">Don't have an account? Sign up!</a>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/login.js"></script>
  </body>
</html>
