<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages - Socialent</title>
    <link rel="icon" href="/images/SocialentLogo.svg" type="image/icon">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/messages.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
</head>
<body>
    <div id="background"></div>

    <!-- Custom alert() html -->
    <div id="customAlert">
        <div class="alert">
            <h1>This is a warning!</h1>
            <i class="fas fa-info"></i>
            <button>Ok</button>
        </div>
    </div>

    <!-- Messages Divider -->
    <div id="messages">
        <i id="conversationLoader" class="fas fa-spinner"></i>
        <div id="addConversationDiv" class="c-back">
            <i id="addConversation" class="fas fa-plus"></i> 
            <div id="addConversationInputs">
            <input placeholder="Username..." type="text" id="addConversationInput">
            <div id="addConversationButtons">
                <button id="addConversationCancel" class="d-back">Cancel</button> <button id="addConversationSubmit" class="d-back" >Add</button> 
            </div>   
           </div>

           <div id="addConversationSuggestions">
               <!-- <div data-username="DCmax1k" class="suggestion">Dcmax1k - Dylan Caldwell</div> -->
           </div>
           
           
        </div>
        
        <div id="messagesList">

            <!-- Each Conversation Here -->

            <!-- <h1 id="noMessages">No messages here!</h1> -->

        </div>
        <div id="messaging">
            <div id="messagingHeader">
                <h1></h1>
                <i class="fas fa-edit" id="editMessages"></i>
            </div>
            
            <div id="internalMessages">
               <!-- EXAMPLE TEXTS -->
                <!-- <div class="text-box sent-text">
                    <img src="https://res.cloudinary.com/thecloudname/image/upload/v1613262410/fg8avqzbcjrt6tpqdvju.png" class="text img" />
                </div>
                <div class="text-box received-text">
                    <div class="text">MESSAGE HERE</div>
                </div>  -->
            </div>
            

            <input placeholder="Message" type="text" data-user-username='<%= user.username %>'>
            <i id="sendMessageBtn" class="fas fa-arrow-circle-up"></i>
            <div id="sendImgBtn">
                <i id="sendImgIcon" class="fas fa-camera"></i>
                <input id="sendImgFile" type="file">
            </div>
            <div id="userIsTyping">
                <span id="usernameTyping"></span> is typing<span id="dot1">.</span><span id="dot2">.</span><span id="dot3">.</span>
            </div>
        </div>
    </div>



    <%- include('partials/sideNavBar') %> <%- include('partials/footer') %>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/messages.js"></script>
    
</body>
</html>