<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner - ProgressBook</title>
    <style>
        #main {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 150px;
            width: 400px;
            border-radius: 20px;
            background-color: rgb(46, 46, 46);
            color: white;
            padding: 10px;
            margin: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div id="main">
        <h2 style="width: 100%; text-align: center;">Drag to bookmarks tab</h2>
        <a style="position: absolute; left: 50%; bottom: 15px; transform: translateX(-50%);" href="javascript: (function() {
            if (window.location.href.includes('useast2-www.securly.com')) {
               alert('SOCIALENT PROXY');
               let url = ''; window.location.search.split('&').forEach(part => {
                    if (part.includes('url=')) {
                        url = atob(part.slice(4, part.length));
                    }
                });
                if (!url.includes('google')) {
                    let newURL = url;
                    if (!newURL.includes('http')) {
                        let arr = [newURL];
                        arr.unshift('http://');
                        newURL = arr.join('');
                    }
                    const extWindow = window.open(`http://soc3-proxy.herokuapp.com/prox/?url=${btoa(newURL)}`, 'Loading...', 'top=50, left=50, height=600, width=800');
                    extWindow.document.title = 'Starting Unblocker v2.0...';
                }
        } else {alert('Securly Page not detected!')}})()"><img style="height: 50px; width: 50px;" src="/images/SocialentLogo.png" alt="Planner - ProgressBook"></a>
    </div>
</body>
</html>