<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Socialent</title>

    <link rel="stylesheet" href="/assets/css/search.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="background"></div>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
  </div>

    <!-- Body Cont -->
    <div id="bodyCont">
      <!-- Search Bar -->
      <div id="searchBar">
        <i class="fas fa-search"></i
        ><input
          type="search"
          id="searchInput"
          placeholder="Search"
          autocomplete="off"
        />
      </div>

      <!-- Search Results -->
      <div id="searchResults"></div>
    </div>

    <%- include('partials/sideNavBar') %> <%- include('partials/footer') %>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/deviceverification.js"></script>
    <script src="/assets/js/search.js"></script>
  </body>
</html>
