@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
h1 {
    width: 100%;
    text-align: center;
}
body {
    line-height: 30px;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    background-color: rgb(35, 35, 35);
    color: rgb(202, 202, 202);
}
#slider {
    position: absolute;
    top: 20px;
    right: 10px;
}
#slider2 {
    position: absolute;
    top: 40px;
    right: 10px;
}

.chapter {
    font-size: 40px;
    font-size: bold;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
.tbl {
    position: fixed;
    top: 0;
    left: 0;
    height: 90%;
    width: 100px;

    transform: translateY(-100%);
    background-color: inherit;
    transition: transform 0.5s ease;
}
.tbl.active {
    transform: translateY(0);
}
.tbl > ol {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    transform: translateY(-20px);
}
.tbl > ol > a {
    text-decoration: underline;
    color: inherit;
    
}
#openChapters {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 30px;
    height: 20px;
    background-color: grey;
    cursor: pointer;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
    #slider {
        top: 80px
    }
    #slider2 {
        top: 100px;
    }
}