body {
    height: 100vh;
    width: 100%;
    background-image: url('../../images/loginBackground.svg');
    background-position: center;
    background-size: cover;
}

#formCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    height: fit-content;
    width: 600px;
    background-color: rgba(15, 76, 117, 0.9);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 1px solid #bbe1fa;

    transition: height 0.3s ease;
}
  
#formCont h1 {
    text-align: center;
    margin: 20px;
    position: relative;
}

#formCont h1 > a {
    position: absolute;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%);
    color: rgb(36, 155, 202);
    font-size: 20px;
}

#formCont h1 > a > i {
    font-size: 10px;
    margin-right: 5px;
}

#formCont button {
    cursor: pointer;
    height: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    background-color: #dfeefb;
}

#formCont > button {
    width: 90%;
}
  
#formCont button:hover {
    background-color: rgb(143, 168, 185);
}
  
.form-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: white;
    font-size: 20px;
    position: relative;
}
.form-row > input {
    width: 75%;
    outline: none;
    border-radius: 5px;
    height: 25px;
    padding: 3px;
    border: 2px solid white;
    transition: border 0.3s ease;
}
.form-row > input:focus {
    border: 2px solid #3282b8;
}
  
#passwordEye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: black;
    font-size: 10px;
    cursor: pointer;
}
  
#forgotPassword {
    position: absolute;
    font-size: 13px;
    top: -20px;
    right: 5px;
    color: #dfeefb;
}
  
#codeCont {
    margin-top: 50px;
}

#passwordCont {
    margin-top: 50px;
    margin-bottom: 5px;
}

#password, #confirmPassword {
    width: 90%;
    outline: none;
    border-radius: 5px;
    height: 25px;
    padding: 3px;
    border: 2px solid white;
    transition: border 0.3s ease;
    margin: 2px;
}
#password:focus, #confirmPassword:focus {
    border: 2px solid #3282b8;
}

#submitPasswordBtn {
    margin-bottom: 20px;
    margin-top: 10px;
}

#passwordCont {
    margin-top: 20px;
}

#submitCodeBtn {
    margin-bottom: 20px;
}

#codeCont, #submitCodeBtn, #passwordCont, #password, #confirmPassword, #submitPasswordBtn {
    display: none;
}

@media screen and (max-width: 600px) {
    #formCont {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 375px) {
    .form-row {
      display: flex;
      flex-direction: column;
    }
    .form-row > input {
      width: 100%;
    }
    #passwordEye {
      top: 75%;
      transform: translateY(-50%);
    }
  }
  