@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #bbe1fa;
  border-radius: 9999px;
}
body::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

/* Colors */
.a {
  color: #1b262c;
}
.b {
  color: #0f4c75;
}
.c {
  color: #3282b8;
}
.d {
  color: #bbe1fa;
}
.a-back {
  background-color: #1b262c;
}
.b-back {
  background-color: #0f4c75;
}
.c-back {
  background-color: #3282b8;
}
.d-back {
  background-color: #bbe1fa;
}
