@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #bbe1fa;
  border-radius: 9999px;
}
body::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

/* Colors */
.a {
  color: #1b262c;
}
.b {
  color: #0f4c75;
}
.c {
  color: #3282b8;
}
.d {
  color: #bbe1fa;
}
.a-back {
  background-color: #1b262c;
}
.b-back {
  background-color: #0f4c75;
}
.c-back {
  background-color: #3282b8;
}
.d-back {
  background-color: #bbe1fa;
}

/* CUSTOM ALERT(); */
#customAlert {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
}

#customAlert.active {
  pointer-events: all;
  background-color: rgba(53, 53, 53, 0.795);
}

.alert {
  position: absolute;
  left: 50%;
  top: 100px;
  width: 400px;
  height: fit-content;
  min-height: 200px;
  border-radius: 10px;
  background-color: rgb(59, 59, 59);
  border: 2px solid rgb(168, 168, 168);
  color: rgb(168, 168, 168);
  transform: translate(-50%, -350px);
  transition: transform 0.3s ease;
}

#customAlert.active .alert{
  transform: translate(-50%, 0);
}

.alert > i {
  position: absolute; 
  top: 10px;
  left: 10px;
  font-size: 25px;
}

.alert > h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.alert > button {
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.alert > button:hover {
  background-color: rgb(146, 146, 146);
} 

.prefix {
  color: rgb(27, 116, 27);
  font-family: 'Coda Caption', sans-serif !important;
  display: inline;
}

.prefix.owner {
  color: red !important;
}

.prefix.admin {
  color: rgb(41, 97, 201) !important;
}

@media screen and (max-width: 430px) {
  .alert {
    width: 95%;
  }
  .alert > h1 {
    font-size: 23px;
  }
}

