#background {
    width: 100%;
    height: 100vh;
    background-image: url('../../images/homeBackground.svg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#messages {
    height: calc(95% - 50px);
    width: calc(100% - 150px);
    position: absolute;
    top: 20px;
    left: 100px;
    background-color: rgba(24, 24, 24, 0.74);
    border-radius: 20px;
    padding: 10px;
    color: white;
    display: flex;
}

#conversationLoader {
    position: absolute;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    left: 50px;
    z-index: 4;
    font-size: 20px;
    animation: rotate 1s linear infinite;
    opacity: 0;
}
#conversationLoader.active {
    opacity: 1;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#addConversationDiv {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    width: 300px;
    border-radius: 10px;
    clip-path: circle(14px at 14px 14px);
    transition: clip-path 0.3s ease;
    min-height: fit-content;
}

#addConversationDiv.active {
    clip-path: circle(75%);
}

#addConversationInputs {
    margin-left: 30px;
    height: fit-content;
    width: 85%;
}

#addConversationInput {
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: none;
    display: none;
}

#addConversationButtons {
    height: 20px;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

#addConversationButtons > button {
    height: 100%;
    width: 48%;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#addConversation {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#addConversationSuggestions {
    width: 85%;
    height: fit-content;
    margin-top: 5px;
    margin-left: 35px;
}

.suggestion {
    width: 100%;
    font-size: 15px;
    color: white;
    border-radius: 99999px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    background-color: rgba(182, 182, 182, 0.3);
}

.suggestion:hover {
    background-color: rgba(182, 182, 182, 0.651);
}

#messagesList {
    position: relative;
    height: 100%;
    width: 20%;
    border-right: 2px solid white;
    padding-right: 10px;
    padding-top: 50px;
    overflow-y: scroll;
}

.conversation {
    width: 100%;
    height: fit-content;
    max-height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow: hidden;

    transition: background-color 0.1s ease;
}

.conversation.active {
    background-color: rgba(58, 58, 58, 0.555);
}

#noMessages {
    font-size: 25px;
    color: grey;
    text-align: center;
}

.conversation > h2 {
    word-wrap: break-word;
}


.conversation h4 {
    color: rgb(139, 139, 139);
    word-wrap: break-word;
}

#messaging {
    position: relative;
    width: calc(80% - 10px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
#messaging.delete-mode {
    background-color: rgba(255, 112, 112, 0.2);
}

#messagingHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(48, 48, 48, 0.85);
    border-radius: 20px 20px 0 0;
    z-index: 1;
    visibility: hidden;
    box-shadow: rgba(255, 255, 255, 0.8) 0 2px 0px;
}
#messagingHeader > h1 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 20px;
}
#editMessages {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

#internalMessages {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 50px 10px;
    border-radius: 20px;
}

#sendImgBtn {
    position: absolute;
    bottom: 8px;
    right: 45px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}
#sendImgIcon {
    color: rgb(150, 150, 150);
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#sendImgFile {
    display: none;
}

#sendMessageBtn {
    position: absolute;
    bottom: 8px;
    right: 13px;
    font-size: 25px;
    color: rgb(45, 118, 226);
    cursor: pointer;
}

.text-box {
    margin: 5px 0;
    display: flex;
    height: fit-content;
    min-height: 30px;
    position: relative;
}

.text {
    width: fit-content;
    max-width: 60%;
    height: fit-content;
    min-height: 30px;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    word-wrap: break-word;
    font-size: 15px;
    position: relative;
}

.text.img {
    max-height: 200px;
    max-width: 200px;
    padding: 0;
    border-radius: 10px;
}
.delete-btn {
    display: none !important;
}
.delete-btn.active {
    display: block !important;
    color: rgb(255, 148, 148);
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}

.sent-text > .delete-btn.active { 
    position: absolute;
    top: -2px;
    right: -5px;
}

.text .delete-btn.active {
    position: absolute;
    top: 0;
    left: -5px;
}

.received-text .delete-btn {
    display: none !important;
}

.sent-text {
    justify-content: flex-end;
}

.sent-text > .text {
    background-color: rgb(45, 118, 226);
}

.received-text {
    justify-content: flex-start;
}

.received-text > .text {
    background-color: rgb(71, 71, 71);
}

#messaging input {
    position:  absolute;
    bottom: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 30px;
    padding: 5px 65px 5px 10px;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 999999px;
    background-color: rgba(105, 105, 105, 0.5);
    outline: none;
}

#messaging input::-webkit-input-placeholder {
    color: rgb(170, 170, 170);
}

@media screen and (max-width: 1000px) {
    .text {
        max-width: 80%;
    }
    
}

@media screen and (max-width: 850px) {
    .conversation > h2 {
        font-size: 18px;
    }
    .conversation > h4 {
        font-size: 13px;
    }
    #messages {
        width: calc(100% - 60px);
        left: 55px;
    }
}

@media screen and (max-width: 600px) {
    .conversation {
        height: fit-content;
        max-height: 100px;
        border-radius: 10px;
        padding: 5px;
    }

    #messagingHeader > h1 {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 500px) {
    #messages {
        width: calc(100% - 6px);
        height: calc(100% - 100px);
        left: 3px;
        top: 50px;
    }
    #conversationLoader {
        left: 40px;
    }
    #messagingHeader > h1 {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    #addConversationDiv {
        width: 200px;
    }
    #addConversationInput, #addConversationButtons {
        width: 83%
    }
}