#background {
  width: 100%;
  height: 100vh;
  background-image: url('../../images/homeBackground.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

#bodyCont {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 80px;
}

#searchBar {
  background-color: rgba(37, 37, 37, 0.5);
  width: 70%;
  transform: translateX(-50%);
  margin-left: 50%;
  padding: 5px 0px 5px 10px;
  color: #c4c4c4;
  border-radius: 5px;
  margin-bottom: 30px;
}

#searchBar i {
  cursor: pointer;
}

#searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: calc(100% - 30px);
  margin-left: 5px;
  font-size: 20px;
  color: #c4c4c4;
}

#searchBar input::-webkit-search-cancel-button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#searchBar input::-webkit-search-cancel-button:hover {
  opacity: 1;
}

#searchBar input::placeholder {
  color: #c4c4c4;
}

#searchResults {
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.search-result {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(37, 37, 37, 0.5);
  margin-bottom: 5px;
  cursor: pointer;
}

.profileImagePlace {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #252525;
  position: relative;
  overflow: hidden;
}

.profileImagePlace > img {
  width: 100%;
  background-color: #252525;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.search-result > .right-side {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 10px;
}

.search-result > .right-side > .username {
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  min-height: 25px;
  height: fit-content;
}

.search-result > .right-side > .name {
  color: #c4c4c4;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  margin-bottom: 7px;
}

@media screen and (max-width: 500px) {
  #bodyCont {
    top: 10px;
  }

  #searchResults {
    width: 90%;
  }
}
